body {
  margin: 0%;
  padding: 0%;
}
#pinterestimg {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: scale-down;
  border-radius: 5rem;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginpopup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pinpost-btn {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
}

.dropzone {
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  display: flex;
  height: 28rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19rem;
}

#post-img-bg {
  display: flex;
  justify-content: center;
}

#post-img {
  display: flex;
  background-color: #efefef;
  flex-direction: row;
  width: 50rem;
  gap: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-around;
}

#setting-outer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-center {
  text-align: center;
  font-size: 1.7rem;
}

#Passwordreset-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#feedbox {
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  height: 600px;
  border: none;
  overflow: auto;
}

.feedbox-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0rem;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  justify-content: center;
}

.feedbox-card:hover {
  background-color: #efefef;
}

.title {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbox {
  width: 70rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: #dad5d5;
  border: none;
  font-size: 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 99;
}

.searchbox:focus {
  /* outline: none !important; */
  outline-color: #4a8ad4;
  outline-width: thick;
  /* #searchdropdown{
    display: block;
  }*/
}

.searchdropdown {
  width: 60rem;
  height: auto;
  background-color: white;
  position: fixed;
  top: 3rem;
  padding-top: 1rem;
  display: none;
  left: 17.5rem;
  border-radius: 2rem;
}
.searchbox:focus + .searchdropdown {
  /* outline: none !important; */
  display: block !important;
}
.searchdropdown:hover {
  display: block;
}
.container{
  position: fixed;
}
#imgsearchbox {
  width: 15rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 2rem;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.search-btn-title {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btnnn {
  border-radius: 1.5rem;
  border: none;
  width: auto;
  font-weight: bold;
  height: 2.5rem;
  font-size: 1rem;
  background-color: #efefef;
  transition-duration: 0.5s;
  padding: 0.5rem;
}

#btnnn:hover {
  background-color: #dfd9d9;
  cursor: pointer;
}

#btnnn:active {
  transform: scale(0.98);
}

.explorebox {
  top: 4rem;
  height: 4rem;
  position: fixed;
  width: 100%;
  background-color: white;
}

h3.create{
  position: sticky;
  top: 4rem;
  text-align: center;
  background-color: white;
  padding-bottom: 1rem;
}



#pinbtn:hover{
  background-color: #b9b6b6;
  cursor: zoom-in;
}

#profile-div:hover{
  background-color: #f1f1f1;
}