body {
  margin: 0%;
  padding: 0%;
}
#pinterestimg {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: scale-down;
  border-radius: 5rem;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inputtext {
  width: 20rem;
  height: 2.5rem;
  border-radius: 5rem;
  padding-left: 10px;
}
#pinpost-btn {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
}
